html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: #112025;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #FDFDFD;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FDFDFD;
}

.info-header {
    display: flex;
    align-items: center;
}

.img-logo {
    height: 45px;
}

.login {
    padding: 25px;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search input {
    background-color: #22363F;
    height: 25px;
    width: 400px;
    padding: 0 15px;
    margin: 0 15px;
    border-radius: 15px;
    color: #FDFDFD;
}

button {
    width: 80px;
    height: 30px;
    border-radius: 5px;
    background-color: #22363F;
    color: #FDFDFD;
}

button:hover {
    background-color: #475f57;
    cursor: pointer;
}

button:active {
    transform: translateY(2px);
}

.card-list {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.card {
    background-color: #22363F;
    border-radius: 20px;
    margin-left: 10px;
    width: 250px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card-detail {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    border: 1px solid bisque;
    background-color: #475f57;
    padding: 15px;
    border-radius: 15px;
    width: 800px;
}

.section-card {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

img {
    border-radius: 10px;
}

.img-detail {
    height: 250px;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
}

footer a {
    color: #FDFDFD;
    text-decoration: none;
}