html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: #112025;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FDFDFD;
}

.info-header {
    display: flex;
    align-items: center;
}

.img-logo {
    height: 45px;
}

.login {
    padding: 25px;
}

main{
    height: 80%;
}

.search{
    display: flex;
    align-items: center;
    justify-content: center;
}

main input{
    background-color: #22363F;
    height: 25px;
    padding: 0 15px;
    margin: 0 15px;
    border-radius: 15px; 
    color: #FDFDFD;
}

button{
    width: 80px;
    height: 30px;
    border-radius: 5px;
    background-color: #22363F;
    color: #FDFDFD;
}

button:hover{
    background-color: #475f57;
    cursor: pointer;
}

button:active {
    transform: translateY(2px);
}
footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
}

footer a{
    color: #FDFDFD;
    text-decoration: none;
}